aiofiles==23.2.1
aiosqlite==0.19.0
beautifulsoup4==4.12.2
click==8.1.7
colorama==0.4.6
docx2txt==0.8
html2text==2020.1.16
Jinja2==3.1.2
lxml==4.9.3
Markdown==3.5.1
numpy==1.26.2
openpyxl==3.1.2
pandas==2.1.4
pdfminer.six==20221105
Pillow==10.1.0
python-pptx==0.6.22
PyYAML==6.0.1
rich==13.7.0
textract==1.6.5
tqdm==4.66.1 